*{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;}
.todoListWrap{max-width:500px;margin:auto;}
.todoListWrap h2{font-size:28px;font-weight:bold;text-align:center;padding:20px 0;}
.todoListWrap .searchBox{overflow:hidden;}
.todoListWrap .searchBox input[name='searchV']{width:calc(100% - 100px);border:1px solid #ddd;border-right:0;background:#fff;border-radius:50px 0 0 50px;padding:0 15px;line-height:54px;}
.todoListWrap .searchBox button{background:#000;color:#fff;line-height:54px;width:100px;border-radius:0 50px 50px 0;border:0;}
.todoListWrap .listNav{margin:30px 0;}
.todoListWrap .listNav li{padding:5px 15px;position:relative;}
.todoListWrap .listNav li::before{width:5px;height:5px;content:"";display:block;background:burlywood;position:absolute;top:50%;margin-top:-2.5px;left:0;}